<!-- app/templates/profile/bookmarks/bookmark.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_bookmark %}
        Add Bookmark
    {% else %}
        Edit Bookmark
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_bookmark %}
                <h1>Add Bookmark</h1>
            {% else %}
                <h1>Edit Bookmark</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
